$bleu: #1393cc;
$rouge: #db1b0e;
$vert: #74b626;
$orange: #f49500;
$mauve: #956187;
$jaune: #f5e969;

.center{
	bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.background{
	background-image: url(https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}

h1{
	
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 1vw;  
	text-transform: uppercase;
	color: black;
	
}
  
h1 span{
	letter-spacing: initial;
	font-size: 8rem;
}

p{
	font-family: 'Fira Sans', sans-serif;
}

h2{
	font-family: 'Montserrat', sans-serif;	
	text-transform: uppercase;
	font-size: 3rem;
	padding-left: 50px;
}

h2::before{
	position: absolute;
	height: 2px;
	width: 30px;
	margin-left: -60px;
	margin-top: 28px;
}

.soustitre{
	font-size: 2rem;
	padding-left: 52px;
}

.soustitre::before{
	margin-left: -50px;
	margin-top: 17px;
}

.box{
    width: 90%;
    height: 21vh;
    margin-top: -17vh;
    position: relative;
    z-index: 1;
}

.index{
	z-index: 1000;
}

.blue{
	background-color: #1b97ce;
}

.green{
	background-color: #76b729;
}

.button{
	font-family: "Montserrat", sans-serif;
	transition: 0.3s;
}

h2::before{
	content: "";
	position: absolute;
	height: 2px;
	background-color: black;
}

.category-arts-appliques{
	.actu{
	margin-top: 40px;
	border-top: 2px solid $vert;
	border-bottom: 2px solid $vert;
}
	.box{
		background-color: $vert;
	}
	
		.actu{
		h4::before{
			content: 'Arts-appliques';
		}
	}
	
	.event{
		h4::after{
			background-color: $vert;
		}
				h4::before{
			content: 'Arts-appliques';
		}

	}
}
.category-economique-cooremans{
	.actu{
	margin-top: 40px;
	border-top: 2px solid $orange;
	border-bottom: 2px solid $orange;
}
	.box{
		background-color: $orange;
	}
	.actu{
		h4::before{
			content: 'Economique';
		}
	}
	.event{
		h4::after{
			background-color: $orange;
		}
		
		h4::before{
			content: 'Economique';
		}
		
		}
}
.category-paramedical{
	.actu{
	margin-top: 40px;
	border-top: 2px solid $rouge;
	border-bottom: 2px solid $rouge;
}
	.box{
		background-color: $rouge;
	}
	
		.actu{
		h4::before{
			content: 'Paramedical';
		}
	}
	
	.event{
		h4::after{
			background-color: $rouge;
		}
		
		h4::before{
			content: 'Paramedical';
		}
		
		}
}
.category-pedagogique-bulls{
	.actu{
	margin-top: 40px;
	border-top: 2px solid $bleu;
	border-bottom: 2px solid $bleu;
}
	.box{
		background-color: $bleu;
	}
	
			.actu{
		h4::before{
			content: 'Pedagogique';
		}
	}
	
	.event{
		h4::after{
			background-color: $bleu;
		}
		
		h4::before{
			content: 'Pedagogique';
		}
		
		}
}
.category-social-cooremans{
	.actu{
	margin-top: 40px;
	border-top: 2px solid $jaune;
	border-bottom: 2px solid $jaune;
}
	.box{
		background-color: $jaune;
	}
	
				.actu{
		h4::before{
			content: 'Social';
		}
	}
	
	.event{
		h4::after{
			background-color: $jaune;
		}
		
		h4::before{
			content: 'Social';
		}
		
		}
		
}
.category-technique{
	.actu{
	margin-top: 40px;
	border-top: 2px solid $mauve;
	border-bottom: 2px solid $mauve;
}
	.box{
		background-color: $mauve;
	}
	
					.actu{
		h4::before{
			content: 'Technique';
		}
	}
	  
	.event{
		h4::after{
			background-color: $mauve;
		}
		
		h4::before{
			content: 'Technique';
		}
		
		}
}


#accueil{
	border: solid 2px black;
	border-radius: 20px;
}
#accueil.active, #accueil:hover{
	background-color: black;
	color: white;
}
#art{
	border: solid 2px $vert;
	border-radius: 20px;
}
#art.active, #art:hover{
	background-color: $vert;
	color: white;
}
#eco{
	border: solid 2px $orange;
	border-radius: 20px;
}
#eco.active, #eco:hover{
	background-color: $orange;
	color: white;
}
#para{
	border: solid 2px $rouge;
	border-radius: 20px;
}
#para.active, #para:hover{
	background-color: $rouge;
	color: white;
}
#peda{
	border: solid 2px $bleu;
	border-radius: 20px;
}
#peda.active, #peda:hover{
	background-color: $bleu;
	color: white;
}
#social{
	border: solid 2px $jaune;
	border-radius: 20px;
}
#social.active, #social:hover{
	background-color: $jaune;
	color: white;
}
#tech{
	border: solid 2px $mauve;
	border-radius: 20px;
}
#tech.active, #tech:hover{
	background-color: $mauve;
	color: white;
}

.menu-item a{
	color: black;
	display: block;
	padding: 0.5rem 3rem;
	font-family: 'Montserrat', sans-serif;	
}

.h1contact{
    text-align:left;
}

.titrecontact{
    font-size:20px;
}

.img-contact{
    position: relative;
    z-index: 1000;
}